<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row">

      <!--Define ToBuy ng-cotroller here-->
      <div ng-controller='ToBuyController as buy' class="col-md-6">
       <h2>To Buy:</h2>
       <ul>
         <!--add ng-repeat to print out the array of items and pass $index in the remove method-->
         <li ng-repeat="item in buy.originalItems">
             Buy {{item.quantity}} {{item.name}}
            <button ng-click="buy.removeItem($index);" class="btn btn-default">
            <span class="glyphicon glyphicon-ok"></span> Bought
            </button>
         </li>
       </ul>
       <!--Fix error where ng if has to be used under the scope of the ng controller
           this message shows when everything in the array is not there, meaning length == 0-->
       <div ng-if="buy.originalItems.length == 0" class="emptyMessage">Everything is bought!</div>
      </div>

      <!--Define AlreadyBought ng-cotroller here-->
      <div ng-controller='AlreadyBoughtController as bought' class="col-md-6">
       <h2>Already Bought:</h2>
       <ul>
         <!--Print out the items that have been bought-->
         <li ng-repeat="item in bought.boughtItems">
           Bought {{item.quantity}} {{item.name}}
         </li>
       </ul>
       <!--When nothing has been bought, display the message-->
       <div class="emptyMessage" ng-if='bought.boughtItems.length == 0'>Nothing bought yet.</div>
      </div>
    </div>
  </div>

</body>
</html>
